.artworkListContainer {
  min-height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 100px;
  overflow-y: hidden;
}


.artworkListDetails{
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));  
  gap:1rem;
  row-gap: 3rem;
}
.loading{
  padding-top: 100px;
}