.artworkListContainer{
    height: 100%;
    display: flex;
    gap:2rem;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    padding:1rem;
}

.artworkListDetails{
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    padding:1rem;
    flex-wrap: wrap;
    overflow-y: scroll;
}