.artworkListContainer {
  min-height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 100px;
  overflow-y: hidden;
}

.artworkListDetails {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
