.artworkDetailContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 200px;
  text-align: center;
  
}
.artworkDetailContainer a {
    text-decoration: none;
    color:inherit;
}
.imageContainer{
  overflow: hidden;
  max-height: 200px;
}
.image {
  height: 100%;
  width: 100%;
  flex-grow: 1; 
  margin-top: auto;
  transition: transform .3s;
}
.image:hover{
  transform: scale(1.2);
}
