.navContainer {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--nav-bg);
  z-index: 1; 
  
}

.navInside {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem; 
}
.desktop {
  display: flex;
  gap: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.linkContainer {
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
.navContainer a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.selected,
.linkContainer:hover {
  background-color: var(--yellow-bg);
}
.mobileMenu{
  display: none;
}
@media only screen and (max-width: 600px){
  .desktop{
    display: none;
  }
  .mobileMenu{
    display: block;
    position: relative;
    display: flex;
    align-items: center;
  }
  .menuLogo{
    height: 30px;
    width: 30px;
    color:#fff;
    cursor: pointer;
  }
  .mobileMenuInside{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:.3rem;
    background-color: var(--nav-bg);   
  }
  .visible {
    top: 100%;
    right: -1rem;
    transition: 0.3s;
  }
  .hidden {
    opacity: 0;
    top: 100%;
    right: -100%;
    transition: 0.3s;
  }
  .linkContainer{
    padding:.5rem;
  }
}